.vscode/**
.github/**
.gitignore
*.vsix
node_modules/**
src/**
out/test/**
**/*.map
tsconfig.json
assets/icon.svg
assets/video_demo.mp4
assets/video_demo_2.mp4
.nvmrc
CONTRIBUTING.md
AGENTS.md
CLAUDE.md
